<md-dialog aria-label="Load JSON">
  <md-toolbar>
    <section class="md-toolbar-tools">
      <h2>Edit Entry</h2>
      <span flex></span>
    </section>
  </md-toolbar>

  <md-dialog-content layout-padding>
    <div>
      <section layout="row">
        <md-input-container flex>
          <label>Description</label>
          <textarea ng-model="data.desc"></textarea>
        </md-input-container>
      </section>
      
      <section layout="row">
        <md-input-container flex-gt-md="10" flex="20">
          <label>Offset</label>
          <input ng-model="data.offset" required></textarea>
        </md-input-container>
        <md-input-container flex>
          <label>Value</label>
          <input ng-model="data.value" required></textarea>
        </md-input-container>
      </section>

      <section class="node-entry" md-whiteframe="2" layout="column">
        <section class="node-description" >{{data.desc}}</section>
        <section class="node-offset-value" layout="row" layout-margin>
          <section class="node-offset" flex="10">{{data.offset | limitTo:8}}</section>
          <section class="node-value" flex-offset="15" >{{data.value | byteify}}</section>
        </section>
      </section>
    </div>
  </md-dialog-content>

  <md-dialog-actions class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="$ctrl.cancel()">
      Cancel
    </md-button>
    <md-button ng-click="$ctrl.submit()" class="md-primary">
      Save
    </md-button>
  </md-dialog-actions>
</md-dialog>
