<!doctype html>
<html ng-app="dv-sptm" ng-strict-di>

<head>
    <title>Simple-patcher Tree-maker</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="./bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/app.min.css" />
</head>

<body ng-controller="mainCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
        <h2>
          <span>Simple Patcher Tree Maker</span>
        </h2>
        <span flex></span>
        <md-button ng-click="loadJSON($event)" aria-label="Load JSON">
          Load JSON
        </md-button>
      </div>
    </md-toolbar>
    <section layout="row">
        <md-container layout="column" flex>
            <tree-container tree-data="data.tree" tree-node="data.tree.root" parent-node="null" layout-padding></tree-container>
        </md-container>
    </section>
    <md-button class="md-raised md-accent toggle-json-fab" ng-click="toggleJSONView()" aria-label="Toggle JSON View">
          <i class="fa fa-caret-left"></i><span style="margin-left: 8px;">JSON View</span>
        </md-button>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="json-view">
        <md-input-container layout="column" flex>
            <textarea class="json-view" ng-model="data.tree.json" aria-label="JSON format" disabled></textarea>
        </md-input-container>
    </md-sidenav>

    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="./js/app.min.js"></script>
</body>

</html>
