<md-dialog aria-label="Load JSON">
	<md-toolbar>
		<section class="md-toolbar-tools">
			<h2>Edit Entry</h2>
			<span flex></span>
		</section>
	</md-toolbar>
	
	<md-dialog-content>
		<md-input-container>
			<label>Description</label>
			<textarea ng-model="data.desc" style="width: 800px"></textarea>
		</md-input-container>
		<section layout="row" layout-align="start center">
			<md-input-container flex="10">
				<label>Offset</label>
				<input ng-model="data.offset" required></textarea>
			</md-input-container>
			<md-input-container flex>
				<label>Value</label>
				<input ng-model="data.value" required></textarea>
			</md-input-container>
		</section>

		<md-whiteframe class="md-whiteframe-z2 node-entry" layout="row" layout-sm="column" layout-align="start center" offset="5" layout-padding>
	        <section class="node-description" flex="30">{{data.desc}}</section>
	        <section class="node-offset" flex="10">{{data.offset}}</section>
	        <section class="node-value" flex >{{data.value | byteify}}</section>
        </md-whiteframe>
	</md-dialog-content>
	
	<section class="md-actions" layout="row">
		<span flex></span>
		<md-button ng-click="cancel()" class="md-primary">
			Cancel
		</md-button>
		<md-button ng-click="load()" class="md-primary">
			Save
		</md-button>
	</section>
</md-dialog>