<div ng-if="!treeNode.$$is_hidden_by_parent">
  <section layout="row" layout-align="start center" layout-wrap>
    <md-button class="md-icon-button md-mini align-md-input" ng-click="removeNode()" aria-label="remove node">
        <i class="fa fa-trash-o"></i>
    </md-button>
    <md-switch class="align-md-input" ng-model="treeNode.is_enabled" aria-label="Is the node enabled?" ng-change="toggleEntry();">
        {{UI.enabled_caption}}
    </md-switch>
    <md-switch class="align-md-input" ng-model="treeNode.is_container_type" aria-label="Is it a container type?" ng-change="toggleContainerType();">
        {{UI.container_type_caption}}
    </md-switch>
    <md-input-container ng-if="treeNode.is_container_type" style="min-width: 300px;" flex>
        <label> Description </label>
        <input ng-model="treeNode.desc" ng-change="treeData.updateJson();"/>
    </md-input-container>
    <md-button ng-if="!treeNode.is_container_type" class="align-md-input md-primary" ng-click="showEditDialog($event)" aria-label="edit entry">
        Edit Entry
    </md-button>
  </section>

  <section layout="column" ng-if="treeNode.is_container_type && treeNode.is_enabled">
      <tree-container style="margin-left: 64px;" tree-data="treeData" tree-node="treeNode.children" parent-node="treeNode"></tree-container>
  </section>

  <section ng-if="!treeNode.is_container_type" md-whiteframe="2" class="node-entry" layout="row" layout-sm="column" layout-align="start center" offset="5" layout-padding>
      <section class="node-description" flex="30">{{treeNode.desc}}</section>
      <section class="node-offset" flex="10">{{treeNode.offset}}</section>
      <section class="node-value" flex >{{treeNode.value | byteify}}</section>
      <!-- <md-input-container style="width: 120px; margin: 8px" md-no-float>
          <input ng-model="treeNode.offset" ng-change="treeData.updateJson();" placeholder="hex offset" ng-disabled="!treeNode.is_enabled"/>
      </md-input-containe
      <md-input-container style="min-width: 500px" flex md-no-float>
          <input ng-model="treeNode.value" ng-change="treeData.updateJson();" placeholder="hex value" ng-disabled="!treeNode.is_enabled"/>
      </md-input-container> -->
      <!-- <md-input-container style="min-width: 500px" flex md-no-float >
          <label>Preview</label>
          <textarea class="entry-preview" ng-model="treeNode.$$preview" md-no-autogrow disabled></textarea>
      </md-input-container> -->
  </section>
</div>
